@charset "UTF-8";
/*
Färg teman

Grönt:
#00DA4E Knappar, menyer
#64F58D Hover
#FFFFFF Artiklar och kanaler och text i knappar
#f3f3f3 Bakgrund

Teal:
#008080 Knappar, artiklar, menyer
#808080, #000000 Hover
#00ffff Kanaler, headerTop
#FFFFFF bakgrund och text i knappar
*/
body,
html {
  height: 100%; }

/*
Tar bort tomt utrymme runt hemsidan
*/
body {
  margin: 0;
  padding: 0; }

div {
  float: left;
  box-sizing: border-box; }

/* Gör så att våran app-div alltid täcker hela skärmen */
#app {
  float: none;
  overflow: visible; }

#header {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 7%;
  padding-right: 4%;
  box-sizing: border-box;
  background-color: #fffeeb; }

#logo {
  width: auto;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif; }
  #logo img {
    width: 175px;
    height: auto;
    float: left; }

Navigation {
  position: sticky;
  top: 0px; }

#nav-menu {
  width: 100%;
  height: auto;
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #008080; }

#nav-bar {
  width: 100%;
  height: auto; }

.search-bar, #header-search-bar, #nav-menu-search-bar {
  width: 350px;
  height: 40px;
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 12px 20px 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
  border: none;
  border-right: none;
  color: black;
  background-color: #00ffff;
  font-size: 16px;
  outline: none; }
  .search-bar::placeholder, #header-search-bar::placeholder, #nav-menu-search-bar::placeholder {
    color: black; }

#header-search-block {
  float: right; }

#nav-menu-search-block {
  display: none; }

#nav-menu-search-bar {
  float: right;
  display: none; }

button {
  float: left;
  padding: 0.8em;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #008080;
  color: white; }
  button:hover {
    background-color: #000000;
    text-decoration: underline; }

.btn-curved, #header-btn-search, #btn-Guess, #btn-has-played, #btn-channals {
  height: 40px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 70px;
  padding: 0.5em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.btn-square, #btn-about, #btn-guesser, #btn-played, #btn-channels, #btn-schedule, #btn-menu, #btn-nav-menu-search {
  width: auto;
  height: auto;
  padding: 0.8em;
  font-size: 20px; }

#btn-menu {
  display: none; }

#main-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  background-color: #00ffff; }

main {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
  background-color: #00ffff; }

#a1 {
  width: auto;
  height: auto;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #fffeeb;
  padding: 1.5em; }

#a2 {
  width: auto;
  height: auto;
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #fffeeb;
  padding: 1.5em; }

#a4 {
  width: auto;
  height: auto;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #fffeeb; }

#channelList {
  width: auto;
  height: auto;
  background-color: #00ffff; }

.channel {
  width: 100%;
  height: 160px;
  margin-top: 2px;
  float: left;
  color: #000000;
  background-color: #fffeeb; }
  .channel .imgContainer {
    height: 100px;
    width: 100px;
    float: left; }
    .channel .imgContainer img {
      height: auto;
      width: 100px; }

footer {
  width: 100%;
  height: 175px;
  float: left;
  background-color: #008080; }

@media screen and (max-width: 810px) {
  .search-bar, #header-search-bar, #nav-menu-search-bar {
    width: 250px; }
  #header {
    padding-left: 0;
    padding-right: 0; }
  main {
    grid-template-columns: 100%; }
  #a4 {
    grid-column: 1;
    grid-row: 4; }
  #channelList {
    width: 100%; }
  #channel {
    width: 100%; } }

@media screen and (max-width: 576px) {
  #header-search-block {
    display: none; }
  #nav-menu-search-block {
    display: block; }
  #header {
    text-align: center; }
  #btn-menu {
    display: block; } }

@media screen and (max-width: 550px) {
  #logo {
    display: inline-block;
    float: none; }
  #btn-pods {
    display: none; } }

@media screen and (max-width: 450px) {
  #btn-schedule {
    display: none; } }
