<!-- get all channels namn och id -->
<template>
  <div>
    <h3>Här kan du kolla vilka kanaler finns på SR!</h3>
    <button id="btn-channels" type="button" @click="channNamnId">
      Checka kanalers id och name     
    </button>
    <br />
  <br />
  <br />
 
    <ol v-for="result of result" :key="result">
      {{
        result
      }}
    </ol>
  </div>
</template>

<script>
import channelsId from "../services/statisticsr.js";

export default {
  data() {
    return {
      result: ""
    };
  },
  methods: {
    /*
 async channId() {
      let svarId = [];
      svarId = await channelsId.channels();
      this.result = svarId;
      console.log(svarId);
    },
    */
    async channNamnId() {
      let svarIdNamn = [];
      svarIdNamn = await channelsId.getAllChannelSR();
      this.result = svarIdNamn;
      console.log(svarIdNamn);
    }
  }
};
</script>
