<template>
  <div>
    <h1>Någonting gick fel!</h1>
    <button @click="goBack">Tillbaka</button>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>
