<template>
  <div>
    <h2>{{ title }}</h2>
    <div v-if="error">
      <p>Error loading a songtitle, retrying in {{ delay }}</p>
    </div>
    <div v-else>
      <p>Who made "{{ randomSong.title }}"?</p>
      <input
        type="text"
        class="search-bar"
        placeholder="Your answer"
        v-model="guess"
      />
      <button id="btn-Guess" @click="makeAGuess">Submit!</button>
      <div v-if="done">
        <p v-if="answerCorrect">Correct answer!</p>
        <p v-else>
          Wrong answer! The correct answer was {{ this.randomSong.artist }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import sssr from "../services/statisticsr.js";

export default {
  data() {
    return {
      title: "Guess the artist!",
      randomSong: undefined,
      guess: "",
      done: false,
      answerCorrect: false,
      error: false,
      delay: 10,
    };
  },

  methods: {
    makeAGuess() {
      let isCorrect = sssr.guessArtist(this.randomSong, this.guess);
      if (isCorrect) {
        this.answerCorrect = true;
      } else {
        this.answerCorrect = false;
      }
      this.done = true;

      setTimeout(this.initialize, 2000);
    },

    retry() {
      if (this.delay === 0) {
        this.initialize();
      } else {
        this.delay--;
        setTimeout(this.retry, 1000);
      }
    },

    initialize() {
      this.guess = "";
      this.done = false;
      this.error = false;
      this.delay = 10;
      this.randomSong = { title: "<<LOADING NEXT SONG>>" };
      sssr
        .getRandomSong()
        .then((song) => (this.randomSong = song))
        .catch((e) => {
          console.log(e);
          this.error = true;
          this.retry();
        });
    },
  },

  created: function() {
    this.initialize();
  },
};
</script>
