<!--är  låt spelat sista dygnet -->

<template>
  <div>
    <h2>Spelade låter</h2>
    <p>Checka i din favorit låt spelat sista dygnet.</p>
    <input
      class="search-bar"
      type="text"
      v-model="svar"
      ref="textareaObj"
      placeholder="skriva här"
      @click="radera"
    />
    <button id="btn-has-played" type="button" @click="vanta">Checka</button
    ><br />

    <p>{{ result }}</p>
  </div>
</template>

<script>
import hbp from "../services/statisticsr.js";

export default {
  data() {
    return {
      svar: "",
      result: ""
    };
  },
  methods: {
    //man får meddelande att vänta lite på svar
    vanta() {
      this.result = "Ladda ner,vänta lite!!!!";
      this.jamfor();
    },

    // ger svar, är låt spelat eller ej sista dygnet
    async jamfor() {
      //användare skriver låt
      let svar = this.$refs.textareaObj.value;
      //variable fraga får svar från funktion hasBeenPlayed
      let fraga = await hbp.hasBeenPlayed(svar);

      //användare får meddelande är låt spelat eller ej

      if (fraga === true) {
        this.result = "Ja! :-) ";
      } else {
        this.result = "Tyvärr, nej.";
      }

      // console.log(svar);
    },

    radera() {
      (this.svar = ""), (this.result = "");
    }
  }
};
</script>
