<!-- visar tablån för ett en vald radiokanal. Tablån börjar vid programmet som kommer härnäst och
sträcker sig till slutet av dygnet -->

<template>
  <div>
    <h1>Tablåer</h1>
    <div style="text-align:center">
      <button class="btn-square" style="width:100px" @click="schedule(132)">
        P1
      </button>
      <button class="btn-square" style="width:100px" @click="schedule(163)">
        P2
      </button>
      <button class="btn-square" style="width:100px" @click="schedule(164)">
        P3
      </button>
    </div>

    <div class="schedule" v-if="titleAndDate !== undefined">
      <!--lista med programnamn samt starttid-->
      <ul v-for="(entry, index) of titleAndDate" :key="index">
        <li>
          {{ entry[1] }} :
          {{ entry[0] }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import webservice from "@/services/srservice.js";

export default {
  data() {
    return {
      programSchedule: undefined,
      titleAndDate: undefined,
    };
  },

  methods: {
    schedule(id) {
      webservice
        .getSchedule(id)
        .then((schedule) => (this.programSchedule = schedule))
        .then(() => this.createDates())
        .catch(() => {
          this.$router.push("error");
        });
    },

    createDates() {
      this.titleAndDate = [];
      for (let schedule of this.programSchedule) {
        //en array med programnamn samt tid som sedan pushas in i titleAndDate
        let entry = [];
        let now = Date.now();
        //undersöker om programmets starttid ligger innan aktuell start och tar i så fall inte med det i listan
        if (schedule.starttimeutc.match(/\d+/)[0] * 1 > now) {
          var title = schedule.title;
          if (schedule.subtitle) {
            title += " " + schedule.subtitle;
          }
          entry.push(title);
          //Gör om programmets starttid till ett mer lättläsligt tidsformat
          let date = new Date(schedule.starttimeutc.match(/\d+/)[0] * 1);
          let time = "";
          if (date.getHours() < 10) {
            time = "0" + date.getHours();
          } else {
            time = date.getHours();
          }
          time += ":";
          if (date.getMinutes() < 10) {
            time += "0" + date.getMinutes();
          } else {
            time += date.getMinutes();
          }

          entry.push(time);
          this.titleAndDate.push(entry);
        }
      }
    },
  },
};
</script>

<style scoped>
div {
  display: block;
}
ul {
  list-style: none;
}
li {
  padding: 0.5em 3em;
  margin: 0.5em;
  margin-right: 2em;
  background-color: #fffeeb;
}
</style>
