/*
Färg teman

Grönt:
#00DA4E Knappar, menyer
#64F58D Hover
#FFFFFF Artiklar och kanaler och text i knappar
#f3f3f3 Bakgrund

Teal:
#008080 Knappar, artiklar, menyer
#808080, #000000 Hover
#00ffff Kanaler, headerTop
#FFFFFF bakgrund och text i knappar
*/

body,
html {
  height: 100%;
}

/*
Tar bort tomt utrymme runt hemsidan
*/
body {
  margin: 0;
  padding: 0;
}

div {
  float: left;
  box-sizing: border-box;
}

/* Gör så att våran app-div alltid täcker hela skärmen */
#app {
  float: none;
  overflow: visible;
}

#header {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 7%;
  padding-right: 4%;
  box-sizing: border-box;
  background-color: #fffeeb;
}

#logo {
  width: auto;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;

  img {
    width: 175px;
    height: auto;
    float: left;
  }
}

Navigation {
  position: sticky;
  top: 0px;
}

#nav-menu {
  width: 100%;
  height: auto;
  float: left;
  position: sticky;
  position: -webkit-sticky;

  top: 0px;
  background-color: #008080;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }
}

.search-bar {
  width: 350px;
  height: 40px;
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 12px 20px 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
  border: none;
  border-right: none;
  color: black;
  background-color: #00ffff;
  font-size: 16px;
  outline: none;

  &::placeholder {
    color: black;
  }
}

#header-search-block {
  float: right;
}

#header-search-bar {
  @extend .search-bar;
}

#nav-menu-search-block {
  display: none;
}

#nav-menu-search-bar {
  @extend .search-bar;
  float: right;
  display: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #008080;
  color: white;
}

.btn-curved {
  height: 40px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 70px;
  padding: 0.5em;
  font-size: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  &:hover {
    background-color: #000000;
    text-decoration: none;
    transition: 0.5s;
  }
}

.btn-square {
  width: auto;
  height: auto;
  padding: 0.8em;
  font-size: 20px;

  &:hover {
    background-color: #000000;
    text-decoration: none;
    transition: 0.5s;
  }
}

#btn-about {
  @extend .btn-square;
}

#btn-guesser {
  @extend .btn-square;
}

#btn-played {
  @extend .btn-square;
}

#btn-programs {
  @extend .btn-square;
}

#btn-schedule {
  @extend .btn-square;
}

#btn-dropdown {
  @extend .btn-square;
  display: none;
}

#btn-nav-menu-search {
  @extend .btn-square;
}

#header-btn-search {
  @extend .btn-curved;
}

#btn-Guess {
  @extend .btn-curved;
}
//att checka har en låt spelat sista dygnet
#btn-has-played {
  @extend .btn-curved;
}
// att få alla id och kanalers namn
#btn-channels {
  @extend .btn-square;
}

.btn-audio {
  width: auto;
  height: auto;
  background-color: #00ffff;
  padding: 0;

  span {
    color: #008080;
  }

  &:hover {
    span {
      color: #000000;
      text-decoration: none;
      transition: 0.5s;
    }
  }
}

#main-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  background-color: #00ffff;
}

main {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
  background-color: #00ffff;
}

.schedule {
  overflow: scroll;
  height: 450px;
  margin-top: 1em;
  background-color: #00ffff;
}

@mixin article($column, $row-start, $row-end) {
  width: auto;
  height: auto;
  grid-column: $column;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #fffeeb;
}

#a1 {
  @include article(1, 1, 3);
  padding: 1.5em;
}

#a2 {
  @include article(2, 1, 3);
}

#channelList {
  width: auto;
  height: auto;
  background-color: #00ffff;
}

.channel {
  width: 100%;
  height: 190px;
  margin-top: 2px;
  float: left;
  color: #000000;
  background-color: #fffeeb;

  .img-wrapper {
    width: 100px;
    height: 100px;

    .img-container {
      height: 100px;
      width: 100px;
      float: left;

      img {
        height: auto;
        width: 100px;
      }
    }
  }

  .channel-info {
    height: 60%;
    width: 300px;
    padding-left: 10px;
    float: left;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    float: left;

    h1 {
      margin-top: 0;
    }

    p {
      font-size: 15px;
    }
  }
}

.audio-player {
  width: 400px;
  min-width: 200px;
  height: 56px;
  margin-top: 10px;
  margin-left: 12px;
  padding-left: 20px;
  border-radius: 4px;

  align-items: center;
  justify-content: space-between;
  background-color: #00ffff;
}

.progress-slider {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 0px 20px;
  flex: 3;

  span {
    float: left;
  }
}

progress {
  width: 50%;
  float: left;
  margin: 5px 10px 0 10px;
  border-radius: 20px;
  background-color: #fffeeb;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 20px;
  color: #ff0000;
  background-color: #fffeeb;
}

progress[value]::-webkit-progress-bar {
  height: 6px;
  border-radius: 20px;
  color: #008080;
  background-color: #fffeeb;
}

progress::-webkit-progress-value {
  height: 6px;
  border-radius: 20px;
  color: #fffeeb;
  background-color: #008080;
}

footer {
  width: 100%;
  height: 75px;
  float: left;
  background-color: #008080;
}

@media screen and (max-width: 810px) {
  .search-bar {
    width: 250px;
  }

  #header {
    padding-left: 0;
    padding-right: 0;
  }

  main {
    grid-template-columns: 100%;
  }

  #a2 {
    grid-column: 1;
    grid-row: 4;
  }

  #channelList {
    width: 100%;
  }

  #channel {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  #header {
    text-align: center;
  }

  #header-search-block {
    display: none;
  }

  #logo {
    display: inline-block;
    float: none;
  }

  .search-bar {
    width: 200px;
  }

  #nav-bar {
    display: none;
    
    li {
      text-align: center;
      margin: auto;
      button {
        width: 100%;
      }
    }
  }

  #nav-bar.active {
    display: block;
  }

  #nav-menu-search-block {
    display: block;
  }

  #btn-dropdown {
    display: block;
  }
}

@media screen and (max-width:450px) {
  .search-bar {
    width: 150px;
  }
}
