<template>
  <div class="channel">
    <div class="img-wrapper">
      <img class="img-container" :src="image" :alt="channelName" />
    </div>
    <div class="channel-info">
      <h1>{{ channelName }}</h1>
      <p style="font-weight:bold;">
        {{ programTitle + " " + programSubtitle }}
      </p>
      <p>
        Nästa<!--({{ ("0" + nextProgramStartTimeUtc.getHours()).slice(-2) }}:{{
          ("0" + nextProgramStartTimeUtc.getMinutes()).slice(-2)
        }})-->:
        {{ nextProgramTitle + " " + nextProgramSubtitle }}
      </p>
    </div>
    <div class="audio-player">
      <PlayPauseButton class="play-pause-button" :url="audioUrl" :id="id" />
      <div class="progress-slider">
        <span class="current-time">
          {{ ("0" + programStartTimeUtc.getHours()).slice(-2) }}:{{
            ("0" + programStartTimeUtc.getMinutes()).slice(-2)
          }}
        </span>
        <progress class="progress-bar" value="3" max="10" />
        <span class="total-time">    
          {{ ("0" + programEndTimeUtc.getHours()).slice(-2) }}:{{
            ("0" + programEndTimeUtc.getMinutes()).slice(-2)
          }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import PlayPauseButton from "./PlayPauseButton.vue";
import statisticsr from "../services/statisticsr.js";

export default {
  data() {
    return {
      channelName: "",
      programTitle: "",
      programSubtitle: "",
      nextProgramTitle: "",
      nextProgramSubtitle: "",
      programStartTimeUtc: new Date(),
      programEndTimeUtc: new Date(),
      //nextProgramStartTimeUtc: new Date(),
      nextUpdate: new Date(),
      audioUrl: "",
      image: "",
    };
  },

  components: {
    PlayPauseButton,
  },

  props: {
    id: {
      type: Number,
      default: 132,
    },
  },

  methods: {
    updateNowPlaying() {
      statisticsr.nowPlaying(this.id).then((episode) => {
        console.log("updating " + this.id);
        this.nextUpdate = this.parseDate(
          episode.channel.nextscheduledepisode.starttimeutc
        );
        this.programTitle = episode.channel.currentscheduledepisode.title;
        this.programSubtitle =
          episode.channel.currentscheduledepisode.subtitle !== undefined
            ? episode.channel.currentscheduledepisode.subtitle
            : "";
        this.nextProgramTitle = episode.channel.nextscheduledepisode.title;
        this.programStartTimeUtc = this.parseDate(
          episode.channel.currentscheduledepisode.starttimeutc
        );
        this.programEndTimeUtc = this.parseDate(
          episode.channel.currentscheduledepisode.endtimeutc
        );
        this.nextProgramSubtitle =
          episode.channel.nextscheduledepisode.subtitle !== undefined
            ? episode.channel.nextscheduledepisode.subtitle
            : "";

        let timeLeft = this.nextUpdate.getTime() - new Date().getTime() + 30000;
        console.log(
          "Updating " + this.id + " in " + timeLeft / 1000 + " seconds."
        );
        if (timeLeft < 1) {
          this.updateNowPlaying();
        } else {
          setTimeout(this.updateNowPlaying, timeLeft);
        }
      });
    },
  /*
    updateProgressBar() {

    },
  */
    parseDate(jsondate) {
      return new Date(parseInt(jsondate.substr(6)));
    },
  },
  created: function() {
    statisticsr
      .getChannel(this.id)
      .then((channel) => {
        this.channelName = channel.name;
        this.image = channel.image;
        return channel.liveaudio;
      })
      .then((liveaudio) => {
        this.audioUrl = liveaudio.url;
      });
    this.updateNowPlaying();

  },
};
</script>
