<template>
  <header id="header">
    <div id="logo">
      <router-link to="/">
        <img src="@/assets/StatisticSR.png" alt="logo" />
      </router-link>
    </div>
    <div id="header-search-block">
      <input type="text" id="header-search-bar" />
      <button id="header-btn-search">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </header>
</template>
