<template>
  <div id="nav-menu">
    <button id="btn-dropdown" @click="dropdown">
      <span class="fa fa-bars"></span>
    </button>
    <ul id="nav-bar" class="nav-desktop">
      <li>
        <!--använda för att får info om webbsida:omoss-->
        <router-link to="/about">
          <button id="btn-about" @click="dropdown">
            Om oss
          </button>
        </router-link>
      </li>

      <li>
        <router-link to="/guesser">
          <button id="btn-guesser" @click="dropdown">
            Guesser
          </button>
        </router-link>
      </li>

      <li>
        <!--använda för att få info om : är låt spelat sista dygnet-->
        <router-link to="/played">
          <button id="btn-played" @click="dropdown">
            Har spelats
          </button>
        </router-link>
      </li>

      <li>
        <!-- använda för att få info om:hur många kanaler finns-->
        <router-link to="/channels">
          <button id="btn-programs" @click="dropdown">
            Kanaler
          </button>
        </router-link>
      </li>

      <li>
        <router-link to="/toplist">
          <button id="btn-schedule" @click="dropdown">
            Toplist
          </button>
        </router-link>
      </li>

      <li>
        <router-link to="/schedule">
          <button id="btn-schedule" @click="dropdown">
            Tablå
          </button>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  methods: {
    dropdown() {
      let nav = document.getElementById("nav-bar");
      nav.classList.toggle('active');
      console.log("toggling active");
    },
  },
};
</script>
