<template>
  <div>
    <canvas ref="mycanvas"></canvas>
  </div>
</template>

<script>
import PieChart from "@/lib/PieChart.js";

export default {
  computed: {
    topWords() {
      return this.$store.state.topWords;
    },
    colors() {
      return this.$store.state.colors;
    }
  },
  watch: {
    topWords: function() {
      this.draw();
    }
  },
  data() {
    return {
      vueCanvas: ""
    };
  },
  mounted() {
    this.vueCanvas = this.$refs.mycanvas;
  },

  methods: {
    draw() {
      let words = this.topWords.slice(0, 5);
      let topFiveWords = {};
      for (let word of words) {
        topFiveWords[word[0]] = word[1];
      }

      let pieChart = new PieChart({
        canvas: this.vueCanvas,
        data: topFiveWords,
        colors: this.colors
      });
      pieChart.draw();
    }
  }
};
</script>
