<template>
  <div class="play-pause-btn">
    <button class="btn-audio" v-if="isPlaying === false" @click="playAudio">
      <span class="fa fa-play-circle fa-4x" />
    </button>
    <button class="btn-audio" v-else @click="pauseAudio">
      <span class="fa fa-pause-circle fa-4x" />
    </button>
    <audio :ref="id" preload="none">
      <source :src="url" type="audio/mpeg" />
      <a href="url">audiofile.mp3</a>
    </audio>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isPlaying: false,
      programStartTimeUtc: new Date(),
      programEndTimeUtc: new Date(),
    };
  },

  props: {
    url: {
      type: String,
      required: true,
      default: "aw son of a gun",
    },
    id: {
      type: Number,
      required: true,
      default: 132,
    },
  },

  methods: {
    playAudio() {
      console.log("trying to play audio");
      var audio = this.$refs[this.id];
      console.log("ljudlänk:" + audio);
      console.log(audio.paused);
      if (audio.paused) {
        this.isPlaying = true;
        audio.load();
        audio.play();
      }
    },

    pauseAudio() {
      console.log("trying to pause audio");
      var audio = this.$refs[this.id];
      console.log("ljudlänk: " + audio);
      console.log(audio.paused);
      if (!audio.paused) {
        this.isPlaying = false;
        audio.pause();
      }
    },
  },
};
</script>
